@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-8deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
.wave {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    font-size: 2.5rem;
}

.stButton>button {
    width: 100%;
    display: flex;
    justify-content: center;
}